<%- include ('../partials/header') %> 
<div class="flex">
    <%- include ('../partials/nav') %> 
    <main>
        <div class="px-3">
            <%- include ('../partials/errors')  %> 
            <%- include ('../partials/newstep') %> 
        </div>
    </main>
</div>
<%- include ('../partials/footer') %> 